### LARAVEL ###
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

### MAC ###
.com.apple.timemachine.supported

### Keepers ###
!.gitkeep

### PHPSTORM ###
.idea

### BOWER ###
### /public/bower_components
/public/bower_components_old/

### DRIM73 ###
robots.txt
stats/
