/************************** Global **************************/
.title{
    color: #00923E;
    margin-left: 8%;
    background-color: #F8C100;
}

#loading-bar .bar{
    background-color: #fff;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #fff;
    border-left-color: #fff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container{
    width: 1170px;
}

/************************** Navbar **************************/

header{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    border-bottom: 2px solid #333;
    background-color: #47a447;
    z-index: -1;
}

.navbar-inverse{
    height: 90px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-color: #fff;
    border-width: 1px;
    color: #333;
}

.navbar-inverse .nav li a{
    color: #fff;
}

.navbar-inverse .nav li a .fa{
    font-size: 18px;
}

.navbar-inverse .nav li a .fa.fa-users{
    font-size: 16px;
}

.navbar-inverse .nav li a .fa:hover{
    color: #eee;
}


.navbar-inverse .nav li a:hover{
    color: #fff;
}

.navbar-inverse .nav li.dropdown.open a.dropdown-toggle{
    background-color: #00923E;
}

.navbar-inverse .nav li a.blacklink{
    color: #333;
}

.navbar-inverse .navbar-brand img{
    width: 89px;
    margin-left: 0px;
    padding: -15px;
}

.navbar-inverse .navbar-brand{
    padding: 0px;
}

/************************** Connection **************************/

.guest img{
    display: block;
    margin: 25px auto;
    width: 10%;
}

.login-form {
    margin: 20px auto;
    width: 40%;
}

.login-form button{
    color: #333;
    border-radius: 0;
    background-color: #F8C100;
    border: none;
    margin-bottom: 10px;
}

.login-form button:hover{
    background-color: #dfad00;
    border: none;
}

.login-form input{
    height: 50px;
    border-radius: 0;
}

.login-form input:focus{
    border-color: #F8C100;
    z-index: -2;
}

.login-form input[type="email"] {
    margin-bottom: -1px;
}
.login-form input[type="password"] {
    margin-bottom: 10px;
}

.login-form a{
    text-decoration: none;
    color: #F8C100;
}

/************************** Games / Ranking **************************/

#games-panel{
    position: relative;
    margin-top: 125px;
    z-index: 10;
    padding-top: 20px;
}

#account-panel{
    width: 40%;
}

#games-list{
    background-color: #fff;
    box-shadow: 0px 4px 2px #aaa;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#games-list .jumbotron{
    margin-top: 15px;
    border-radius: 2px;
}

#menu-games{
    position: relative;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 10px;
    border-radius: 1px;
}

ul.nav.nav-pills{
    float: left;
}

ul.nav.nav-pills li a{
    color: #333;
}

ul.nav.nav-pills li a:hover{
    background-color: #47a447;
    color: #fff;
    border-radius: 2px;
}

ul.nav.nav-pills li.active a{
    background-color: #47a447;
    color: #fff;
    border-radius: 2px;
}

.my-points .btn-group{
    float: right;
}

.my-points .btn-default{
    margin-top: 2px;
    background-color: #47a447;
    border-color: #00923E;
    border-radius: 2px;
    color: #fff;
}


.game-header{
    background-color: #333;
    color: #fff;
    height: 80px;
    padding: 5px 30px;
    border-bottom: 2px solid #aaa;
}


.game{
    margin-bottom: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.user{
    text-align: center;
}

.game:first-child{
    border-top: none;
}


.game h2{
    padding: 25px 0px;
}

.game h2.subheader{
    padding: 0;
}

.game h3{
    /* padding: 30px 0px; */
    text-align: center;
}

.game h3.goals-team1{
    text-align: right;
}

.game h3.goals-team2{
    text-align: left;
}

.game button.btn.btn-default{
    display: block;
    float: none;
    border-radius: 3px;
    padding: 10px 25px;
    margin: 40px auto;
    margin-bottom:20px;
    background-color: #F8C100;
    color: #222;
    font-weight: bold;
}

.game .col-md-6 img{
    margin: 0 auto;
}

.game .label{
    margin: 0 10px;
}

/************************** Ranking *************************/

.users .table h3{
    display: inline-block;
    padding: 5px 5px;
}

.users .table img{
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 10px;
}

/************************** Account *************************/

.account .row{
    margin-bottom: 15px;
}

.account label{
    display: inline;
}

.account input{
    display: inline;
    border-radius: 2px;
}

.account input[type="text"]{

}

/************************** Bracket *************************/
#bracket {
    padding:30px;
}

/************************** Bets **************************/

.modal-content{
    border-radius: 2px;
}

.bet .row{
    margin-top: 15px;
    margin-bottom: 30px;
}

.bet .team1{
    float: left;
}

.bet .team2{
    float: right;
}

.bet .modal-body img{
    display: inline;
    width: 50px;
}

.bet .modal-body h4{
    display: inline;
}

.bet .modal-body select{
    border-radius: 2px;
}

.bet .modal-body input[type="text"]{
    border-radius: 2px;
}

.bet .modal-body input[type="text"].team{
    width: 45px;
    display: inline;
    margin: 6px 0px;
}

.bet .modal-body input[type="text"].team.one{
    float: right;
}

.bet .modal-body input[type="text"].team.two{
    float: left;
}

.bet button.btn{
    border-radius: 2px;
}

.bet button.btn-primary{
    background-color: #47a447;
    border-color: #419641;
}

.bet button.btn-warning{
    background-color: #f0ad4e;
}

.bet .dash{
    text-align: center;
    margin: 12px 0px;
}