<div class="bet">
    <div class="modal-header" >
        <h3 class="modal-title" ng-hide="bet.id != null">Placer un pari</h3>
        <h3 class="modal-title" ng-show="bet.id != null">Mon pari</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 score">
                <div class="col-xs-5">
                    <img width="50px" src="images/flags/@@ game.team1.code.toLowerCase() @@"/>
                    <h4>@@ game.team1.name @@</h4>
                </div>
                <div class="col-xs-2 dash"> - </div>
                <div class="col-xs-5">
                    <div class="team2">
                        <h4>@@ game.team2.name @@</h4>
                        <img width="50px" src="images/flags/@@ game.team2.code.toLowerCase() @@"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="winner">
            <div class="col-xs-12">
                Pays gagnant :
                <select class="form-control" ng-model="bet.winner_id" ng-options="team.id as team.name for team in teams"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-primary" ng-hide="bet.id != null" ng-click="ok()">Parier</button>
        <button class="btn btn-primary" ng-hide="bet.id == null" ng-click="ok()">Modifier</button>
        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    </div>

</div>