<div class="bet">
    <div class="modal-header" >
        <h3 class="modal-title" >Détail du match</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 score">
                <div class="col-xs-5">
                    <img width="50px" src="images/flags/@@ game.team1.code.toLowerCase() @@"/>
                    <h4>@@ game.team1.name @@</h4>
                </div>
                <div class="col-xs-2 dash"> - </div>
                <div class="col-xs-5">
                    <div class="team2">
                        <h4>@@ game.team2.name @@</h4>
                        <img width="50px" src="images/flags/@@ game.team2.code.toLowerCase() @@"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <tr class="game row" ng-repeat="bet in game.bets" >
                        <td>@@ bet.user.login @@</td>
                        <td>@@ bet.points @@ points</td>
                        <td>Pour <b><div ng-show="bet.winner_id == game.team1_id" >@@ game.team1.name @@</div><div ng-show="bet.winner_id == game.team2_id">@@ game.team2.name @@</div></b></td>
                        <td>Avec un écart de point de @@ distances[bet.distance_points] @@</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" >
        <button class="btn btn-warning" ng-click="cancel()">Fermer</button>
    </div>

</div>