<div class="container" id="games-panel" ng-show="isConnected">
        <div class="col-lg-12" id="menu-games">
            <ul class="nav nav-pills">
                <li class="active" ><a href="#" id="filter-list" ng-click="filterList()">Liste des matchs</a></li>
                <li><a href="#" id="filter-bracket" ng-click="filterBracket()">Arbre</a></li>
            </ul>
            <div class="my-points">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-controller="transactionsControllerModal" ng-click="open()" >@@ user.points @@ points</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" id="games-list">
            <div id="games">
                <div class="game row" ng-repeat="game in games | groupBy:['stage_id']">
                    <div class="col-lg-12 game-header" ng-show="game.group_by_CHANGED">
                        <h2 class="subheader">@@ game.stage.name @@</h2>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-md-6"><img src="/images/flags/@@ game.team1.code @@.png"/></div>
                        <div class="col-md-6"><h2>@@ game.team1.name @@</h2></div>
                    </div>
                    <div class="col-lg-4 text-center" ng-show="game.team1_goals != null || game.team2_goals != null">
                        <br />
                        <h5>En cours</h5>
                        <div class="col-md-5"><h3 class="goals-team1">@@ game.team1_goals @@</h3></div>
                        <div class="col-md-2"><h3>—</h3></div>
                        <div class="col-md-5"><h3 class="goals-team2">@@ game.team2_goals @@</h3></div>
                    </div>
                    <div class="col-lg-1" ng-show="game.team1_goals == null && game.team2_goals == null">
                        <div class="col-md-12" style="padding: 50px 0px;">
                            <div tooltip="Gains potentiel si vous misez sur : @@ game.team1.name @@" class="label label-success" style="padding:11px;" >+@@ game.team1_cote @@</div>
                        </div>
                    </div>
                    <div class="col-lg-2" ng-show="game.team1_goals == null && game.team2_goals == null">
                        <div class="col-lg-12 col-centered text-center" >
                            <button class="btn btn-default" ng-controller="betsControllerModal" ng-click="open(game, user)"><div>Parier</div></button>
                            <h5>@@game.date | dateToISO | date:'dd/MM/yyyy à H:mm'@@h</h5>
                        </div>
                    </div>
                    <div class="col-lg-1" ng-show="game.team1_goals == null && game.team2_goals == null">
                        <div class="col-md-12" style="padding: 50px 0px;">
                            <div tooltip="Gains potentiel si vous misez sur : @@ game.team2.name @@" class="label label-success" style="padding:11px;" >+@@ game.team2_cote @@</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-md-6"><h2>@@ game.team2.name @@</h2></div>
                        <div class="col-md-6"><img src="/images/flags/@@ game.team2.code @@.png" alt=""/></div>
                    </div>
                </div>
            </div>
            <div class="jumbotron" ng-show="games.length == 0"><h2>Pas de match pour le moment ! :(</h2></div>
            <div id="bracket">
            </div>
        </div>
</div>
