<div class="container">
    <div class="login-form">
        <form ng-submit="loginSubmit()" role="form" name="login">
            <input type="text" ng-model="loginStr" name="login" class="form-control" placeholder="Login" required autofocus>
            <input type="password" ng-model="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
        <a href="/register">Créer un compte</a>
    </div>
</div>