<div class="container" id="ranking-panel" ng-show="isConnected">
    <div class="col-lg-12 ranking-header">
        <h2 class="stage">Classement</h2>
    </div>
    <div class="col-lg-12" id="ranking-list">
        <div id="users">
            <table class="table">
                <thead>
                    <th>Position</th>
                    <th>Points</th>
                    <th>Utilisateur</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td><h3>@@ $index + 1 @@</h3></td>
                        <td><h3>@@ user.points @@</h3></td>
                        <td><h3>@@ user.firstname @@ @@ user.lastname @@</h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
