<div class="container">
    <div class="login-form">
        <form ng-submit="registerSubmit()" role="form" name="register">
            <input type="text" ng-model="loginStr" name="login" class="form-control" placeholder="Login">
            <input type="password" ng-model="password" name="password" class="form-control" placeholder="Mot de passe">
            <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
        </form>
        <a href="/login">Se connecter</a>
    </div>
</div>